<div class="container mt-5 pt-5 text-center">
    <h2 class="mb-5">About Wall<span class="art-style">ART</span></h2>
    <p class="accent-text"> Hanging wall art is an easy way to create your own personal atmosphere and style!</p>
    <p>By offering hundreds of pieces of wall art in countless different designs, we hope to help you find the right wall art for your home.</p>
    <div class="d-flex row justify-content-center mt-5">
        <div class="col-lg-4 col-12">
            <img src="../../../../assets/images/about.jpg" alt="Image in about section" class='img-fluid'>
        </div>
        <div class="col-lg-4 col-12 mt-5 mt-lg-0 text-center text-lg-start">
            <p>We want to offer inspiration in interiors and design, whether you want to decorate a bedroom, a small hallway, an office or your entire home!</p>
            <p>Our shop has a wide range of different designs, including photographic prints, classic black & white images, cool retro wall art, modern abstract art, illustrations and much more!</p> <p>Whatever your style and preferences, we hope you can find wall art to suit your home.</p>
        </div>
    </div>
</div>
