<div class="container mt-5">
    <div class="row relative banner">
        <div class='ps-0 pe-0 '>
            <img src="../../../../assets/images/gallery-wall.jpg" alt="Gallery image" class="img-fluid ">
            <div class="gallery-image-card text-center align-center pt-4">
                <h4>WallART designes</h4>
                <p><a routerLink="/products" class="btn btn-primary mt-1">Explore</a></p>
            </div>
        </div>
    </div>
    <div class="row d-flex mt-4">
        <div class="col-12 col-lg-4 text-center">
            <img src="../../../../assets/images/gallery-wall-boho.jpg" alt="Gallery image boho" class="img-fluid">
            <div class="pt-3 pb-2   gallery-image-text">
                <h5>Boho style</h5>
                <p><a routerLink="/products" class="btn btn-primary mt-1">Explore</a></p>
            </div>
        </div>
        <div class="col-12 col-lg-4 text-center">
            <img src="../../../../assets/images/gallery-wall-abstract.jpg" alt="Gallery image abstract" class="img-fluid">
            <div class=" pt-3 pb-2  gallery-image-text">
                <h5>Abstract style</h5>
                <p><a routerLink="/products" class="btn btn-primary mt-1">Explore</a></p>
            </div>
        </div>
        <div class="col-12 col-lg-4 text-center">
            <img src="../../../../assets/images/gallery-wall-lines.jpg" alt="Gallery image lines" class="img-fluid">
            <div class="pt-3 pb-2   gallery-image-text">
                <h5>Art of lines</h5>
                <p><a routerLink="/products" class="btn btn-primary mt-1">Explore</a></p>
            </div>
        </div>
    </div>
</div>
