<div class="container-fluid mt-5 bg-light">
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-between  pt-5 pb-5">
            <div class="col-lg-3 col-6 text-center">
                <i class="bi bi-truck cl-gold"></i>
                <p>Fast delivery</p>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <i class="bi bi-credit-card cl-gold"></i>
                <p>Safe payment</p>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <i class="bi bi-box-seam cl-gold"></i>
                <p>Free shipping</p>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <i class="bi bi-award cl-gold"></i>
                <p>Guaranteed quality</p>
            </div>
        </div>
    </div>
</div>
