<div class="container">
    <div class="row d-flex mt-5 pt-5">
        <div class="col-12 col-md-4 text-center text-lg-end">
            <img src="../../assets/images/author/author.jpg" alt="Image of author" class="img-fluid">
        </div>
        <div class="col-12 col-md-8 author-text pt-5">
            <h2 class="mb-5">Anastasija Joković 104/19</h2>
            <p><span class="cl-gold">2015</span> Finished elementary school </p>
            <p><span class="cl-gold">2019</span> Graduated from 'Srednja tehnička PTT škola'</p>
            <p><span class="cl-gold">2019-now</span> Student at the ICT College</p>
            <p class="mt-3">I first encountered web design in high school. It was interesting to me, so I decided to become student at this college.</p>
        </div>
    </div>
</div>
