h1{
    font-size: 15px;
    font-weight: 600;
}
.price{
    font-size: 14px;
}
.btn, .btn-primary{
    font-size: 15px !important;
}
.filter{
    font-weight: 600;
}
.form-check-label{
    font-size: 15px;
}
.zero-products{
    font-size: 20px;
}
::ng-deep .ngx-pagination .current{
    background: #daa520 !important;
    border-radius: 5px;
}
::ng-deep .ngx-pagination .ng-star-inserted:hover{
    border-radius: 5px;
}