<div class="bg-light mt-5">
    <div class="container">
        <div class="row d-flex pt-3 pb-3">
            <div class="col-12 col-lg-4 text-center text-lg-start">
                <p class="footer-logo">
                    Wall<span class='art-style'>ART</span>
                </p>
                <ul>
                    <li>
                        <i class="bi bi-geo-fill cl-gold me-1"></i>
                        Street 15, Belgrade, Serbia
                    </li>
                    <li>
                        <i class="bi bi-telephone-fill cl-gold me-1"></i>
                        061 2345 678
                    </li>
                    <li>
                        <i class="bi bi-envelope-fill cl-gold me-1"></i>
                        office@wallart.com
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4 pt-2 text-center text-lg-start">
                <app-socials></app-socials>
            </div>
            <div class="col-12 col-lg-4 pt-2 text-center text-lg-start">
                <app-quick-links></app-quick-links>
            </div>
        </div>
    </div>
</div>
<app-copyright></app-copyright>
