<h6 class="cl-gold pb-3">Find us on social medias</h6>
<ul>
    <li>
       <a href="https://www.facebook.com/">
            <i class="bi bi-facebook cl-gold me-1" ></i>
            Facebook
       </a>
    </li>
    <li>
        <a href="https://www.instagram.com/">
            <i class="bi bi-instagram cl-gold me-1"></i>
            Instagram
        </a>
    </li>
    <li>
        <a href="https://www.youtube.com/">
            <i class="bi bi-youtube cl-gold me-1"></i>
            Youtube
        </a>
    </li>
</ul>